<h2>My To-do Items</h2>
<table class="table table-striped table-hover">
  <thead>
    <th>Item</th>
    <th>Time remaining</th>
    <th></th>
  </thead>
  <%= render @items %>
</table>
  <%= render "items/form" %>
