

<h2>
  Welcome to the time dependent self destructing task list
</h2>
<p>
  To Do's are automatically deleted after 7 days of inactivity. The task was not important otherwise it would have been completed.
</p>
<hr>
</hr>
<p>
  <a class="btn btn-primary btn-large" href="#">Evernote</a>
</p>
